body{
    background-image: url(assets/img/background.jpg);
    background-position: auto;
    font-family: Euclid,sans-serif,Arial,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
}

.container{
    margin: 5%;
}

.title{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.forms{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    padding: 30px 30px 60px 30px;
    font-size: 20px;
}

.none{
    display: none;
}

label{
    font-family:Arial, Helvetica, sans-serif;   
    display: block;
    text-align: center;
    margin-top: 20px;
}

input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.inputAltura{
    display: inline-block;
    width: 30%;
    margin-top: 15px;
    margin-left: 18%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
    border: 2px solid rgb(22, 22, 45);
    padding: 10px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.inputLargura{
    display: inline-block;
    width: 30%;
    margin-top: -42px;
    margin-right: 18%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    border: 2px solid rgb(22, 22, 45);
    padding: 10px 15px 10px 15px;
    float: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

select{
    display: inline-block;
    width: 64%;
    margin-top: 20px;
    margin-left: 18%;
    border-radius: 15px;
    border: none;
    border: 2px solid rgb(22, 22, 45);
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

option{
    font-size: 18px;
    background-color: rgba(0, 183, 255, 0.3);
}

button{
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin-top: 20px;
    margin-left: 35%;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(22, 22, 45);
    font-size: 16px;
    cursor: pointer;
}

#display{
    margin-top: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    padding: 30px 30px 60px 30px;
    font-size: 20px;
}

h2{
    text-align: center;
}

.listaLatas{
    font-size: 22px;
    text-align: center;
}

.cancel{
    font-size: 12px;
}

#warning{
    margin-left: 31.5%;
    width: 30%;
    margin-top: 20px;
    background: rgba( 255, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
    padding: 10px 30px 20px 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: whitesmoke;
}

#ErrorMessage{
    margin-top: -12px;
}